<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AMS | attendance</title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- jsGrid -->
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid-theme.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/public/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt" data-bs-toggle="tooltip"  data-bs-placement="left"  title="Full Screen"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"  data-bs-toggle="tooltip"  data-bs-placement="left"  title="Dark mode"></i>
        </a>
      </li>
    </ul>
  </nav>
  
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Login" class="brand-link">
      <i class="fas fa-arrow-circle-left" ></i>
      <span class="brand-text font-weight-light">Logout</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/default_profile.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/admin/faculty_profile" class="d-block"><%= userData%></a>
        </div>
      </div>
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item ">
            <a href="/admin/dashboard" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <li class="nav-item ">
              <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Class
                  <i class="fas fa-angle-left right"></i>
                  <span class="right badge badge-danger">1</span>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item ">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                      III IT
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="/admin/class_admin" class="nav-link ">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>Class Info</p>
                      </a>
                    </li>
                    
                    <li class="nav-item">
                      <a href="/admin/faculty_subject" class="nav-link  ">
                        <i class="far fa-dot-circle nav-icon"></i>
                        <p>Subject Info</p>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          <li class="nav-item menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                attendance
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item menu-open">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>III IT</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/admin/mark-attendance" class="nav-link active ">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Mark attendance</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/mark_attendance" class="nav-link  ">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Edit attendance</p>
                    </a>
                    </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link  ">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>Report Generate</p>
                    </a>
                  </li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li class="nav-item" >
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Edit 
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                <a href="/admin/add_subject" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Subject</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/admin/faculty_profile" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Edit My Profile</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class=" nav-icon fas fa-chalkboard-teacher"></i>
              <p>
                Faculty
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/faculty" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Faculty List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin/add_faculty" class="nav-link ">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Faculty</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-id-card-alt"></i>
              <p>
                Students
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/admin/students_list" class="nav-link  ">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students List</p>
                </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/add_student" class="nav-link  ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Student</p>
                  </a>
                </li>
              
            </ul>
          </li>     
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">attendance</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
              <li class="breadcrumb-item ">Dashboard</li>
              <li class="breadcrumb-item ">attendance</li>
              <li class="breadcrumb-item active">Mark attendance</li>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="card">
          <% if(success!=''){%>
            <div class="alert alert-success alert-dismissible col-5">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= success %>
            </div>
            <%}%>
          
          <!-- /.card-header -->
          <div class="card-header ">
            <h3 class="card-title " >attendance</h3>
          </div>
          <!-- /.card-header -->
          <form action ="/admin/attendence/submit/<%= sem%>/<%= time%>/<%= subject%>/<%= date%>" method="POST">
          <div class="card-body col-9">
            <span class="tootltip-r" data-toggle="tooltip" data-placement="center" title="Select 6 columns from column visibility to view in pdf"></span>
            <table width="100" id="example1"  class="table table-bordered table-responsive students-list">
            
              <thead>
              <tr align="center" class="col-7">
               
                <th  width="10%">FirstName</th>
                <th width="10%">LastName</th>
                <th width="10%">Roll No</th>
                <th width="10%">Present/Absent</th>
      
              </tr>
              </thead>
            <tbody>
              <% if(studentData.length!=0){%>
                <%var i=1;%>
                <%studentData.forEach(function(data){%>
                <tr>
                    
                    <td><%=data.firstname %></td>
                    <td><%=data.lastname %></td>
                    <td><%=data.rollno %></td>
                    <td>
                      <label name="at">
                        <select class="form-control select2" id="att" name="att" style="width: 100%;">
                        
                          <option value='P' >Present</option>
                          <option value='A'>Absent</option>
                          
                      </select>
                     
                     
                    <input name="SelectedValues"   type="hidden" value="">
                  </label>         
                   </td>
                  </tr>
                  <% i++ })%>
                  <% }%>
              
            </tbody>
            <button type="submit"  onclick="getValue()" class="btn btn-primary">Submit</button>
            <script>
             function getValue() {
               var label=document.getElementsByName("at");
              label.value = '';
              var arr=[];
              for(var i=0;i<controls.length;i++){
              var present= document.getElementById("checkbox1")
              if(present.checked){
                arr[i]= document.getElementById("checkbox1").value;
               
             }else{
              label.value = "A"+',';
             }
             
            
            }
              }
                </script>
           </form>
          </table>
        </div>
       </div>
      </div>
     </div>
  </section>    
</div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2021-2022 <a href="https://adminlte.io">AMS</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.1.0-rc
    </div>
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
   
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jsGrid -->
<script src="../../plugins/jsgrid/demos/db.js"></script>
<script src="../../plugins/jsgrid/jsgrid.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
    $(function () {
      $("#jsGrid1").jsGrid({
         height:"100%",
         width:"75%",
  
          sorting: true,
          paging: true,
  
          data: db.clients,
  
          fields: [
              { name: "Name", type: "text", width: 150 },
              { name: "Rollno", type: "number", width: 50 },
              { name: "Date", type: "date", width: 200 },
             
              { name: "Present", type: "checkbox", title: "Present" }
          ]
      });
    });
  </script>
</body>
</html>
